@{
    Layout = "_LayoutAdmin";
}
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-5">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title text-center">Degree</h3>
                    </div>
                    <div class="card-body">
                        <div id="chartdegree">
                        </div>
                    </div>
                    @*@card body@*@
                </div>
            </div>
            <div class="col-4">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title text-center">UNIVERSITAS</h3>
                    </div>
                    <div class="card-body">
                        <div id="chartuniv">
                        </div>
                    </div>
                    @* card body*@
                </div>
            </div>

        </div>
    </div>
</body>